/* -----variables----- */

:root{
    --brand-color: #4D5AE5;

    --dark-color: #2E2F42;

    --light-color: #F4F4FD;

    --primary-text-color: #434455;

    --secondary-text-color: #8E8F99;

    --accent-color: #E7E9FC;

    --success-color: #31D0AA;

    --pressed-state-color: #404BBF
}

/* -----body----- */
body{
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: #ffffff;
}

/* ------header------ */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style: none;
}

.link{
    text-decoration: none;
}
.link:hover,
.link:focus {
    color: var(--brand-color);
}


/* .header {
    
}

.header-nav {
} */

.logo{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-color); 
}

.brand-color-logo {
    color: var(--brand-color);
}


/* .header-list {
}

.header-item {
} */

.header-link{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* .contacts-list{
} */

.contacts-mail,
.contacts-tel {
    font-size: 16px;
    line-height: 1.5
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

/* -----hero----- */

.hero {
    background-color: var(--dark-color);
    }
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.hero-btn {
    font-family: 'Roboto', sans-serif;
    background-color: var(--brand-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
 }

/* -----about----- */

/* .about {
}
.about-list {
}
.about-list-item {
} */
.about-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}
.about-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* -----services----- */

/* .services {
} */
.services-title,
.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
/* .services-list {
}
.services-list-item {
}
.services-list-img {
} */

/* -----team----- */

.team {
    background-color: var(--light-color);
}

/* .team-list {
} */

.team-list-item{
    background-color: #ffffff;
}

/* .team-list-img {
} */
.team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.team-member-poisition {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
}

/* -----footer----- */

.footer {
    background-color: var(--dark-color);
}
.logo-footer{
    color: var(--light-color);
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

/* ---------PORTFOLIO-------- */

/* .portfolio {
}

.portfolio-btn-list {
} */

.portfolio-btn {
    font-family: 'Roboto', sans-serif;
    background-color: var(--light-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--brand-color);
    cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--pressed-state-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

/* .portfolio-list {
}

.portfolio-img {
} */

.portfolio-activity-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.portfolio-activity-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}